internal.axelrasse.com:80 {
    reverse_proxy internal-service:80
}

external.axelrasse.com:80 {
    reverse_proxy external-service:80
}

portainer.axelrasse.com:80 {
    reverse_proxy portainer:9000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up X-Real-IP {remote_host}
    }
}

axelrasse.com:80 {
    respond "Main site - Docker setup working!"
}

www.axelrasse.com:80 {
    redir https://axelrasse.com{uri}
}