internal.axelrasse.com:80 {
    reverse_proxy internal-service:80
}

external.axelrasse.com:80 {
    reverse_proxy external-service:80
}

portainer.axelrasse.com {
    reverse_proxy portainer:9443
}

axelrasse.com:80 {
    respond "Main site - Docker setup working!"
}

www.axelrasse.com:80 {
    redir https://axelrasse.com{uri}
}